body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 800px;
    background-color: #ccc;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    display: none;
}

a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.hr {
    color: #444;
    border-bottom: 2px solid #444;
    margin: 25px auto;
}

.dark {
    margin: 0 auto;
    padding: 100px 0;
    background-color: #444;
    color: #eee;
}

.block {
    margin: 100px auto;
    margin-bottom: 0;
}

.block-content {
    max-width: 1000px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
    max-width: 1000px;
    margin: 20px auto;
    font-weight: bold;
}

.biography {
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}

.self-img {
    width: 100%;
    opacity: .2;
    position: fixed;
    pointer-events: none;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 3s;
}

.contacts {
    text-align: center;
    margin: 40px auto;
}

.contact {
    margin: 0 5px;
}

.contact:hover {
    transition: all .5s;
    color: #eee;
    background: linear-gradient(#444 80%, transparent 80%);
    background-size: 500% 500%;
    animation: slide-back 1s ease;
}

ul li {
    padding: 0;
    margin-top: 10px;
}

ul.skill-descriptions li {
    list-style-type: none;
}

.header {
    font-weight: bold;
    font-size: 25;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes slide-back {
    0% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}